<h3>User</h3>
<hr>
<div class="panel panel-primary" *ngIf="user; else elseBlock;">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <label>First Name</label><br>
                <label>Last Name</label><br>
                <label>Email</label>
            </div>
            <div class="col-md-6">
                <label>{{ user.first_name}}</label><br>
                <label>{{ user.last_name}}</label><br>
                <label>{{ user.email}}</label><br>
            </div>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12"><h4>Please Select User First !</h4></div>
            </div>
        </div>
    </div>
</ng-template>